# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/httpRequests/*
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Add IntelliJ IDEA specific files
.idea/
.idea/**/workspace.xml
.idea/**/shelf/
.idea/**/httpRequests/
.idea/**/dataSources/
.idea/**/dataSources.local.xml
